#include <windows.h>
#include <commctrl.h>
#include <richedit.h>


LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL


background.png PNG "./resources/background.png"
sliderBackground.png PNG "./resources/slider_background.png"
sliderHandle.png PNG "./resources/slider_handle.png"